In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
train = pd.read_csv("Downloads/train.csv")
train

,index,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f44,f45,f46,f47,f48,f49,f50,f51,f52,target
0,0,PZ,W,V,A,C,F,I,A,D,...,711,631.0,865.0,644.0,533.0,5.0,927.0,693.0,924.0,H
1,1,TEB,XK,V,F,B,F,J,A,F,...,701,884.0,721.0,932.0,529.0,792.0,746.0,808.0,818.0,N
2,2,HCF,C,J,F,A,F,J,A,D,...,745,877.0,786.0,917.0,523.0,788.0,831.0,847.0,929.0,N
3,3,WHD,XK,YC,A,C,F,I,A,D,...,669,875.0,686.0,888.0,529.0,790.0,793.0,649.0,877.0,A
4,4,KCD,C,EF,I,C,F,J,A,C,...,843,764.0,965.0,802.0,768.0,787.0,911.0,844.0,940.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39995,XDC,XK,FF,A,C,F,G,A,F,...,566,758.0,672.0,726.0,525.0,2.0,982.0,792.0,953.0,H
39996,39996,CMD,W,PG,F,C,F,I,A,F,...,632,NaN,NaN,NaN,531.0,8.0,624.0,722.0,913.0,A
39997,39997,YAB,VG,UC,A,C,F,J,D,D,...,707,866.0,741.0,886.0,532.0,793.0,762.0,815.0,905.0,I
39998,39998,SFE,XK,OC,I,C,F,J,A,C,...,897,902.0,945.0,920.0,773.0,794.0,829.0,857.0,929.0,A
39999,39999,DOB,VG,KG,I,C,F,J,D,D,...,765,701.0,888.0,647.0,666.0,794.0,928.0,801.0,953.0,M

In [3]:
test = pd.read_csv("Downloads/test.csv")
test

,index,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f43,f44,f45,f46,f47,f48,f49,f50,f51,f52
0,40000,BVD,VG,FF,A,C,F,I,A,D,...,771,751,701.0,878.0,671.0,530.0,6.0,954.0,777.0,959.0
1,40001,NLC,XK,O,F,C,F,J,A,D,...,800,772,736.0,912.0,792.0,531.0,794.0,916.0,893.0,920.0
2,40002,KBC,C,DI,J,C,F,I,A,D,...,761,733,845.0,801.0,881.0,528.0,793.0,764.0,644.0,873.0
3,40003,NSB,WK,D,E,C,F,J,A,C,...,924,906,908.0,898.0,907.0,773.0,791.0,869.0,951.0,865.0
4,40004,IJD,XK,V,J,C,F,I,A,F,...,665,647,812.0,704.0,869.0,530.0,8.0,796.0,823.0,798.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18279,58279,GWB,VG,LE,I,C,F,J,A,D,...,822,793,778.0,867.0,881.0,529.0,787.0,829.0,823.0,957.0
18280,58280,PUC,XK,UC,A,C,F,J,A,D,...,719,695,866.0,736.0,924.0,523.0,787.0,763.0,798.0,921.0
18281,58281,GGD,AI,JG,C,C,F,J,D,D,...,806,783,622.0,920.0,686.0,667.0,8.0,947.0,808.0,956.0
18282,58282,HLD,C,PG,J,C,F,I,A,D,...,737,717,896.0,720.0,936.0,529.0,787.0,797.0,731.0,894.0
18283,58283,UME,VG,K,F,C,F,J,A,D,...,770,748,883.0,826.0,850.0,529.0,790.0,797.0,680.0,904.0

In [4]:
train.isna().sum().sum()

126641

In [5]:
train = train.dropna()
train.isna().sum().sum()

0

In [6]:
train = train.drop(["index"], axis=1)
train

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f44,f45,f46,f47,f48,f49,f50,f51,f52,target
4,KCD,C,EF,I,C,F,J,A,C,H,...,843,764.0,965.0,802.0,768.0,787.0,911.0,844.0,940.0,A
6,ZGE,YF,YE,C,C,F,J,A,C,C,...,813,879.0,895.0,882.0,533.0,794.0,757.0,831.0,954.0,A
12,EAF,C,MH,F,C,F,J,A,C,H,...,806,669.0,929.0,782.0,531.0,785.0,910.0,860.0,962.0,I
17,UY,QF,LE,I,C,F,B,A,C,H,...,797,705.0,913.0,751.0,527.0,794.0,924.0,856.0,928.0,A
24,ERE,XK,EF,I,A,F,J,A,D,C,...,821,613.0,959.0,610.0,768.0,9.0,712.0,901.0,855.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39974,FZC,XK,MH,I,C,F,J,A,D,C,...,755,837.0,791.0,889.0,531.0,789.0,776.0,911.0,908.0,A
39984,HND,C,V,J,C,F,J,A,D,C,...,685,869.0,733.0,872.0,526.0,788.0,798.0,718.0,914.0,E
39985,TT,XK,VE,F,C,F,J,A,D,C,...,749,884.0,831.0,807.0,530.0,789.0,799.0,682.0,846.0,A
39988,UUB,XK,F,F,A,F,J,A,D,C,...,818,904.0,828.0,869.0,768.0,787.0,851.0,839.0,817.0,N
39991,TIE,VG,V,A,C,F,I,A,F,C,...,684,852.0,722.0,899.0,530.0,789.0,796.0,822.0,799.0,B

In [7]:
#проверка на дубликаты
train.duplicated().sum()

0

In [8]:
test.isna().sum()

index        0
f1           0
f2           0
f3           0
f4           0
f5           0
f6           0
f7           0
f8           0
f9           0
f10          0
f11          0
f12          0
f13          0
f14          0
f15          0
f16          0
f17          0
f18          0
f19          0
f20      11995
f21      11995
f22          0
f23          0
f24          0
f25          0
f26          0
f27          0
f28        365
f29        888
f30        891
f31       2501
f32       2133
f33       3501
f34       3492
f35       1770
f36       3102
f37       3102
f38       1089
f39       2028
f40       3964
f41        918
f42        111
f43          0
f44          0
f45        723
f46        519
f47        805
f48        111
f49        126
f50        295
f51        286
f52        284
dtype: int64

In [12]:
for i in test.columns[20:]:
    test[i] = test[i].fillna(test[i].mean())

In [13]:
test.isna().sum().sum()

0

In [16]:
X_test = test.drop(["index"], axis=1)
X_test

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f43,f44,f45,f46,f47,f48,f49,f50,f51,f52
0,BVD,VG,FF,A,C,F,I,A,D,H,...,771,751,701.0,878.0,671.0,530.0,6.0,954.0,777.0,959.0
1,NLC,XK,O,F,C,F,J,A,D,H,...,800,772,736.0,912.0,792.0,531.0,794.0,916.0,893.0,920.0
2,KBC,C,DI,J,C,F,I,A,D,C,...,761,733,845.0,801.0,881.0,528.0,793.0,764.0,644.0,873.0
3,NSB,WK,D,E,C,F,J,A,C,C,...,924,906,908.0,898.0,907.0,773.0,791.0,869.0,951.0,865.0
4,IJD,XK,V,J,C,F,I,A,F,C,...,665,647,812.0,704.0,869.0,530.0,8.0,796.0,823.0,798.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18279,GWB,VG,LE,I,C,F,J,A,D,C,...,822,793,778.0,867.0,881.0,529.0,787.0,829.0,823.0,957.0
18280,PUC,XK,UC,A,C,F,J,A,D,C,...,719,695,866.0,736.0,924.0,523.0,787.0,763.0,798.0,921.0
18281,GGD,AI,JG,C,C,F,J,D,D,H,...,806,783,622.0,920.0,686.0,667.0,8.0,947.0,808.0,956.0
18282,HLD,C,PG,J,C,F,I,A,D,B,...,737,717,896.0,720.0,936.0,529.0,787.0,797.0,731.0,894.0
18283,UME,VG,K,F,C,F,J,A,D,C,...,770,748,883.0,826.0,850.0,529.0,790.0,797.0,680.0,904.0

In [17]:
X_train = train.drop(["target"], axis=1)
X_train

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f43,f44,f45,f46,f47,f48,f49,f50,f51,f52
4,KCD,C,EF,I,C,F,J,A,C,H,...,867,843,764.0,965.0,802.0,768.0,787.0,911.0,844.0,940.0
6,ZGE,YF,YE,C,C,F,J,A,C,C,...,830,813,879.0,895.0,882.0,533.0,794.0,757.0,831.0,954.0
12,EAF,C,MH,F,C,F,J,A,C,H,...,829,806,669.0,929.0,782.0,531.0,785.0,910.0,860.0,962.0
17,UY,QF,LE,I,C,F,B,A,C,H,...,821,797,705.0,913.0,751.0,527.0,794.0,924.0,856.0,928.0
24,ERE,XK,EF,I,A,F,J,A,D,C,...,836,821,613.0,959.0,610.0,768.0,9.0,712.0,901.0,855.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39974,FZC,XK,MH,I,C,F,J,A,D,C,...,773,755,837.0,791.0,889.0,531.0,789.0,776.0,911.0,908.0
39984,HND,C,V,J,C,F,J,A,D,C,...,715,685,869.0,733.0,872.0,526.0,788.0,798.0,718.0,914.0
39985,TT,XK,VE,F,C,F,J,A,D,C,...,779,749,884.0,831.0,807.0,530.0,789.0,799.0,682.0,846.0
39988,UUB,XK,F,F,A,F,J,A,D,C,...,835,818,904.0,828.0,869.0,768.0,787.0,851.0,839.0,817.0
39991,TIE,VG,V,A,C,F,I,A,F,C,...,710,684,852.0,722.0,899.0,530.0,789.0,796.0,822.0,799.0

In [18]:
le = LabelEncoder()
for i in X_train.columns[:19]:
    X_train[i] = le.fit_transform(X_train[i])
    X_test[i] = le.fit_transform(X_test[i])

In [19]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9182 entries, 4 to 39991
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      9182 non-null   int32
 1   f2      9182 non-null   int32
 2   f3      9182 non-null   int32
 3   f4      9182 non-null   int32
 4   f5      9182 non-null   int32
 5   f6      9182 non-null   int32
 6   f7      9182 non-null   int32
 7   f8      9182 non-null   int32
 8   f9      9182 non-null   int32
 9   f10     9182 non-null   int32
 10  f11     9182 non-null   int32
 11  f12     9182 non-null   int32
 12  f13     9182 non-null   int32
 13  f14     9182 non-null   int32
 14  f15     9182 non-null   int32
 15  f16     9182 non-null   int32
 16  f17     9182 non-null   int32
 17  f18     9182 non-null   int32
 18  f19     9182 non-null   int32
 19  f20     9182 non-null   float64
 20  f21     9182 non-null   float64
 21  f22     9182 non-null   int64
 22  f23     9182 non-null   int64
 23  f24     9182 non-null   int64
 24  f25     9182 non-null   int64
 25  f26     9182 non-null   int64
 26  f27     9182 non-null   int64
 27  f28     9182 non-null   float64
 28  f29     9182 non-null   float64
 29  f30     9182 non-null   float64
 30  f31     9182 non-null   float64
 31  f32     9182 non-null   float64
 32  f33     9182 non-null   float64
 33  f34     9182 non-null   float64
 34  f35     9182 non-null   float64
 35  f36     9182 non-null   float64
 36  f37     9182 non-null   float64
 37  f38     9182 non-null   float64
 38  f39     9182 non-null   float64
 39  f40     9182 non-null   float64
 40  f41     9182 non-null   float64
 41  f42     9182 non-null   float64
 42  f43     9182 non-null   int64
 43  f44     9182 non-null   int64
 44  f45     9182 non-null   float64
 45  f46     9182 non-null   float64
 46  f47     9182 non-null   float64
 47  f48     9182 non-null   float64
 48  f49     9182 non-null   float64
 49  f50     9182 non-null   float64
 50  f51     9182 non-null   float64
 51  f52     9182 non-null   float64
dtypes: float64(25), int32(19), int64(8)
memory usage: 3.0 MB

In [20]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18284 entries, 0 to 18283
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      18284 non-null  int32
 1   f2      18284 non-null  int32
 2   f3      18284 non-null  int32
 3   f4      18284 non-null  int32
 4   f5      18284 non-null  int32
 5   f6      18284 non-null  int32
 6   f7      18284 non-null  int32
 7   f8      18284 non-null  int32
 8   f9      18284 non-null  int32
 9   f10     18284 non-null  int32
 10  f11     18284 non-null  int32
 11  f12     18284 non-null  int32
 12  f13     18284 non-null  int32
 13  f14     18284 non-null  int32
 14  f15     18284 non-null  int32
 15  f16     18284 non-null  int32
 16  f17     18284 non-null  int32
 17  f18     18284 non-null  int32
 18  f19     18284 non-null  int32
 19  f20     18284 non-null  float64
 20  f21     18284 non-null  float64
 21  f22     18284 non-null  int64
 22  f23     18284 non-null  int64
 23  f24     18284 non-null  int64
 24  f25     18284 non-null  int64
 25  f26     18284 non-null  int64
 26  f27     18284 non-null  int64
 27  f28     18284 non-null  float64
 28  f29     18284 non-null  float64
 29  f30     18284 non-null  float64
 30  f31     18284 non-null  float64
 31  f32     18284 non-null  float64
 32  f33     18284 non-null  float64
 33  f34     18284 non-null  float64
 34  f35     18284 non-null  float64
 35  f36     18284 non-null  float64
 36  f37     18284 non-null  float64
 37  f38     18284 non-null  float64
 38  f39     18284 non-null  float64
 39  f40     18284 non-null  float64
 40  f41     18284 non-null  float64
 41  f42     18284 non-null  float64
 42  f43     18284 non-null  int64
 43  f44     18284 non-null  int64
 44  f45     18284 non-null  float64
 45  f46     18284 non-null  float64
 46  f47     18284 non-null  float64
 47  f48     18284 non-null  float64
 48  f49     18284 non-null  float64
 49  f50     18284 non-null  float64
 50  f51     18284 non-null  float64
 51  f52     18284 non-null  float64
dtypes: float64(25), int32(19), int64(8)
memory usage: 5.9 MB

In [21]:
le_target = LabelEncoder()
y_train = train.target
y_train = le_target.fit_transform(y_train)
y_train

array([ 0,  0,  6, ...,  0, 11,  1])

In [23]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=20, 
                             n_estimators=10, 
                             max_features=2,  
                             random_state=42)

In [26]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=20, max_features=2, n_estimators=10,
                       random_state=42)

In [27]:
testY = clf.predict(X_test)
testY

array([ 0,  0, 11, ...,  0,  6,  0])

In [28]:
testY = le_target.inverse_transform(testY)
testY

array(['A', 'A', 'N', ..., 'A', 'I', 'A'], dtype=object)

In [29]:
prediction = test[["index"]].copy()
prediction["target"] = testY
prediction

       index target
0      40000      A
1      40001      A
2      40002      N
3      40003      A
4      40004      B
...      ...    ...
18279  58279      A
18280  58280      A
18281  58281      A
18282  58282      I
18283  58283      A

[18284 rows x 2 columns]

In [30]:
#prediction.to_csv("sub.csv", index=False)